{% extends 'base.html' %}
{% block content %}
{% load static %}

{% if user.user_type == '1' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/css/id.css' %}">


    <title>ID Card</title>
</head>
<body>

    
    <div class="container">
        <div class="padding">
        <div class="font" style="background-image: url('{% static 'assets/img/ecardbgfinal.png' %}');">
            <div class="companyname">Planics<br><span class="tab">Solution</span></div>
            <div class="top">
                <img src="/{{user.profile_pic}}" alt="">
            </div>
        
                <div class="ename">
                <p class="p1"><b>{{user.first_name}}&nbsp;{{user.last_name}}</b></p>
                </div>
                <div class="edetails">
                    <b>Mobile No :</b> 8460304196
                    <br>
                    <b>DOB :</b> 02/11/2020
                    <br>
                    <b>Program :</b> BE Computer
                    <br>
                    <b>Batch :</b>2023
                    <div class="Address"><b>Address : </b>223 par-1 hari soc 223 par-1 hari soc</div>
                    
                </div>

                <div class="barcode">
                    <img src="{% static 'assets/img/qrsample.png' %}" alt="">
                </div>
                <div class="qr">
                    <img src="{% static 'assets/img/barcode.png' %}" alt="">
                </div>

          
           
        </div>
    </div>
       
    </div>
</body>
</html>

{% elif user.user_type == '2' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/css/id.css' %}">


    <title>ID Card</title>
</head>
<body>

    
    <div class="container">
        <div class="padding">
        <div class="font" style="background-image: url('{% static 'assets/img/ecardbgfinal.png' %}');">
            <div class="companyname">Planics<br><span class="tab">Solution</span></div>
            <div class="top">
                <img src="/{{user.profile_pic}}" alt="">
            </div>
        
                <div class="ename">
                <p class="p1"><b>{{user.first_name}}&nbsp;{{user.last_name}}</b></p>
                </div>
                <div class="edetails">
                    <b>Mobile No :</b> 8460304196
                    <br>
                    <b>DOB :</b> 02/11/2020
                    <br>
                    <b>Program :</b> BE Computer
                    <br>
                    <b>Batch :</b>2023
                    <div class="Address"><b>Address : </b>223 par-1 hari soc 223 par-1 hari soc</div>
                    
                </div>

                <div class="barcode">
                    <img src="{% static 'assets/img/qrsample.png' %}" alt="">
                </div>
                <div class="qr">
                    <img src="{% static 'assets/img/barcode.png' %}" alt="">
                </div>

          
           
        </div>
    </div>
       
    </div>
</body>
</html>

{% else %}


{% endif %}

{% endblock %}